[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
persist-queue = "*"
epevermodbus = "*"
paho-mqtt = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.7"
python_full_version = "3.7.3"
